env:
  minIntervalSec: 120
  maxIntervalSec: 600
image:
  tag: "0.1.3"
extraEnv:
  - name: OTEL_EXPORTER_OTLP_PROTOCOL
    value: http/protobuf
  - name: OTEL_COLLECTOR_NAME
    valueFrom:
      fieldRef:
        apiVersion: v1
        fieldPath: status.hostIP
  - name: OTEL_TRACES_EXPORTER
    value: otlp
  - name: OTEL_METRICS_EXPORTER
    value: otlp
  - name: OTEL_LOGS_EXPORTER
    value: none
  - name: OTEL_SERVICE_NAME
    value: spicy-gremlin
  - name: OTEL_SERVICE_VERSION
    value: "0.1.3"
  - name: POD_NAMESPACE
    valueFrom:
      fieldRef:
        apiVersion: v1
        fieldPath: metadata.namespace
  - name: OTEL_RESOURCE_ATTRIBUTES
    value: service.name=$(OTEL_SERVICE_NAME),service.version=$(OTEL_SERVICE_VERSION),service.namespace=$(POD_NAMESPACE)
  - name: OTEL_TRACES_SAMPLER
    value: parentbased_traceidratio
  - name: OTEL_TRACES_SAMPLER_ARG
    value: "1.0"
  - name: OTEL_METRIC_EXPORT_INTERVAL
    value: "60000"
podAnnotations:
  resource.opentelemetry.io/team: platform
  resource.opentelemetry.io/service.name: spicy-gremlin
  resource.opentelemetry.io/service.version: "0.1.3"
  io.opentelemetry.discovery.logs/enabled: "true"
  io.opentelemetry.discovery.logs/config: |
    include_file_path: true
    operators:
      - type: container
        id: container-parser
