opentelemetry-demo:
  enabled: true


  default:
    envOverrides:
      - name: OTEL_COLLECTOR_NAME
        valueFrom:
          fieldRef:
            apiVersion: v1
            fieldPath: status.hostIP

  components:
    accounting:
      podAnnotations:
        resource.opentelemetry.io/team: services
    ad:
      podAnnotations:
        resource.opentelemetry.io/team: services
    cart:
      podAnnotations:
        resource.opentelemetry.io/team: app
    checkout:
      podAnnotations:
        resource.opentelemetry.io/team: app
    currency:
      podAnnotations:
        resource.opentelemetry.io/team: services
    email:
      podAnnotations:
        resource.opentelemetry.io/team: services
    fraud-detection:
      podAnnotations:
        resource.opentelemetry.io/team: services
    frontend:
      podAnnotations:
        resource.opentelemetry.io/team: app
    frontend-proxy:
      podAnnotations:
        resource.opentelemetry.io/team: platform
    image-provider:
      podAnnotations:
        resource.opentelemetry.io/team: platform
    load-generator:
      podAnnotations:
        resource.opentelemetry.io/team: platform
    payment:
      podAnnotations:
        resource.opentelemetry.io/team: services
    product-catalog:
      podAnnotations:
        resource.opentelemetry.io/team: services
    quote:
      podAnnotations:
        resource.opentelemetry.io/team: services
    recommendation:
      podAnnotations:
        resource.opentelemetry.io/team: services
    shipping:
      podAnnotations:
        resource.opentelemetry.io/team: services
    flagd:
      podAnnotations:
        resource.opentelemetry.io/team: platform
    kafka:
      podAnnotations:
        resource.opentelemetry.io/team: platform
    postgresql:
      podAnnotations:
        resource.opentelemetry.io/team: platform
    valkey-cart:
      podAnnotations:
        resource.opentelemetry.io/team: platform
    

  opentelemetry-collector:
    enabled: false
  jaeger:
    enabled: false
  opensearch:
    enabled: false
  prometheus:
    enabled: false
  grafana:
    enabled: false

opentelemetry-kube-stack:
  enabled: true
  agent:
    image: ghcr.io/open-telemetry/opentelemetry-collector-releases/opentelemetry-collector-contrib
    collectLogs: false
    config:
      extraReceivers:
        nginx:
          collection_interval: 10s
          endpoint: http://image-provider.default:8081/status
        postgresql:
          endpoint: postgresql.default:5432
          metrics:
            postgresql.blks_hit:
              enabled: true
            postgresql.blks_read:
              enabled: true
            postgresql.deadlocks:
              enabled: true
            postgresql.tup_deleted:
              enabled: true
            postgresql.tup_fetched:
              enabled: true
            postgresql.tup_inserted:
              enabled: true
            postgresql.tup_returned:
              enabled: true
            postgresql.tup_updated:
              enabled: true
          password: otel
          tls:
            insecure: true
          username: root
        redis:
          collection_interval: 10s
          endpoint: valkey-cart.default:6379
          username: valkey
      service:
        pipelines:
          metrics:
            extraReceivers:
              - postgresql
              - redis
              - nginx