{{- if .Values.cluster.enabled }}

{{- /*
     First, render the default config and parse it into a map,
     then build a new context that includes it as .defaultConfig
*/ -}}
{{- $default := include "tsuga-otel.cluster-receiver.config.default" . | fromYaml }}
{{- $ctx := merge (dict "defaultConfig" $default "customConfig" .Values.cluster.customConfig) .Values.cluster.config }}
{{- include "opentelemetry-kube-stack.validateResourceNames" . }}
apiVersion: opentelemetry.io/v1beta1
kind: OpenTelemetryCollector
metadata:
  name: {{ include "opentelemetry-kube-stack.fullname" . }}-cluster-receiver
  labels:
    {{- include "opentelemetry-kube-stack.componentLabels" (dict "component" "cluster-receiver" "Values" .Values "Release" .Release "Chart" .Chart) | nindent 4 }}
  annotations:
    meta.helm.sh/release-name: {{ .Release.Name | quote }}
    meta.helm.sh/release-namespace: {{ .Release.Namespace | quote }}
spec:
  mode: deployment
  image: {{ .Values.cluster.image | default "ghcr.io/open-telemetry/opentelemetry-collector-releases/opentelemetry-collector-k8s" }}
  {{- if or .Values.cluster.resources .Values.resources }}
  resources:
    {{- if .Values.cluster.resources }}
    {{- toYaml .Values.cluster.resources | nindent 4 }}
    {{- else }}
    {{- toYaml .Values.resources | nindent 4 }}
    {{- end }}
  {{- end }}
  {{- if or .Values.cluster.nodeSelector .Values.nodeSelector }}
  nodeSelector:
    {{- if .Values.cluster.nodeSelector }}
    {{- toYaml .Values.cluster.nodeSelector | nindent 4 }}
    {{- else }}
    {{- toYaml .Values.nodeSelector | nindent 4 }}
    {{- end }}
  {{- end }}
  {{- if or .Values.cluster.tolerations .Values.tolerations }}
  tolerations:
    {{- if .Values.cluster.tolerations }}
    {{- toYaml .Values.cluster.tolerations | nindent 4 }}
    {{- else }}
    {{- toYaml .Values.tolerations | nindent 4 }}
    {{- end }}
  {{- end }}
  {{- if or .Values.cluster.affinity .Values.affinity }}
  affinity:
    {{- if .Values.cluster.affinity }}
    {{- toYaml .Values.cluster.affinity | nindent 4 }}
    {{- else }}
    {{- toYaml .Values.affinity | nindent 4 }}
    {{- end }}
  {{- end }}
  {{- if .Values.serviceAccount.create }}
  serviceAccount: {{ .Values.serviceAccount.name | default (include "opentelemetry-kube-stack.serviceAccountName" .) }}
  {{- end }}
  env:
    {{- include "opentelemetry-kube-stack.collectorEnv" . | nindent 4 }}
    {{- if .Values.cluster.extraEnvs }}
    {{- toYaml .Values.cluster.extraEnvs | nindent 4 }}
    {{- end }}
  config:
    {{- include "opentelemetry-kube-stack.otelConfig" $ctx | trim | nindent 4 }}
{{- end }}