{{- if .Values.agent.enabled }}
{{- /*
     First, render the default config and parse it into a map,
     then build a new context that includes it as .defaultConfig
*/ -}}
{{- $default := include "tsuga-otel.deamonset.config.default" . | fromYaml }}
{{- $ctx := merge (dict "defaultConfig" $default "customConfig" .Values.agent.customConfig) .Values.agent.config }}
{{- include "opentelemetry-kube-stack.validateResourceNames" . }}
apiVersion: opentelemetry.io/v1beta1
kind: OpenTelemetryCollector
metadata:
  name: {{ include "opentelemetry-kube-stack.fullname" . }}-agent
  labels:
    {{- include "opentelemetry-kube-stack.componentLabels" (dict "component" "agent" "Values" .Values "Release" .Release "Chart" .Chart) | nindent 4 }}
  annotations:
    meta.helm.sh/release-name: {{ .Release.Name | quote }}
    meta.helm.sh/release-namespace: {{ .Release.Namespace | quote }}
spec:
  mode: daemonset
  hostNetwork: {{ .Values.agent.hostNetwork }}
  image: {{ .Values.agent.image | default "ghcr.io/open-telemetry/opentelemetry-collector-releases/opentelemetry-collector-k8s" }}
  {{- if or .Values.agent.resources .Values.resources }}
  resources:
    {{- if .Values.agent.resources }}
    {{- toYaml .Values.agent.resources | nindent 4 }}
    {{- else }}
    {{- toYaml .Values.resources | nindent 4 }}
    {{- end }}
  {{- end }}
  {{- if or .Values.agent.nodeSelector .Values.nodeSelector }}
  nodeSelector:
    {{- if .Values.agent.nodeSelector }}
    {{- toYaml .Values.agent.nodeSelector | nindent 4 }}
    {{- else }}
    {{- toYaml .Values.nodeSelector | nindent 4 }}
    {{- end }}
  {{- end }}
  {{- if or .Values.agent.tolerations .Values.tolerations }}
  tolerations:
    {{- if .Values.agent.tolerations }}
    {{- toYaml .Values.agent.tolerations | nindent 4 }}
    {{- else }}
    {{- toYaml .Values.tolerations | nindent 4 }}
    {{- end }}
  {{- end }}
  volumeMounts:
    - name: hostfs
      mountPath: /hostfs
      readOnly: true
      mountPropagation: HostToContainer
  {{- if .Values.agent.collectLogs }}
    - name: varlogpods
      mountPath: /var/log/pods
      readOnly: true
    - name: varlibdockercontainers
      mountPath: /var/lib/docker/containers
      readOnly: true
  {{- end}}
  volumes:
    - name: hostfs
      hostPath:
        path: /
  {{- if .Values.agent.collectLogs }}
    - name: varlogpods
      hostPath:
        path: /var/log/pods
    - name: varlibdockercontainers
      hostPath:
        path: /var/lib/docker/containers
  {{- end }}
  {{- if or .Values.agent.affinity .Values.affinity }}
  affinity:
    {{- if .Values.agent.affinity }}
    {{- toYaml .Values.agent.affinity | nindent 4 }}
    {{- else }}
    {{- toYaml .Values.affinity | nindent 4 }}
    {{- end }}
  {{- end }}
  {{- if .Values.serviceAccount.create }}
  serviceAccount: {{ .Values.serviceAccount.name | default (include "opentelemetry-kube-stack.serviceAccountName" .) }}
  {{- end }}
  env:
    {{- include "opentelemetry-kube-stack.collectorEnv" . | nindent 4 }}
    {{- if .Values.agent.extraEnvs }}
    {{- toYaml .Values.agent.extraEnvs | nindent 4 }}
    {{- end }}
  config:
    {{- include "opentelemetry-kube-stack.otelConfig" $ctx | trim | nindent 4 }}
{{- end }}