# yaml-language-server: $schema=../../values.schema.json
agent:
  image: ghcr.io/open-telemetry/opentelemetry-collector-releases/opentelemetry-collector-contrib
  collectLogs: false
  extraLabelMapping:
    - tag_name: test
      key: resource.opentelemetry.io/test
      from: pod
  config:
    extraExtensions:
      k8s_observer:
        auth_type: serviceAccount
        node: ${env:K8S_NODE_NAME}
        observe_pods: true
        observe_nodes: true
        observe_services: true
        observe_ingresses: true
    extraReceivers:
      nginx:
        collection_interval: 10s
        endpoint: http://image-provider.default:8081/status
      postgresql:
        endpoint: postgresql.default:5432
        metrics:
          postgresql.blks_hit:
            enabled: true
          postgresql.blks_read:
            enabled: true
          postgresql.deadlocks:
            enabled: true
          postgresql.tup_deleted:
            enabled: true
          postgresql.tup_fetched:
            enabled: true
          postgresql.tup_inserted:
            enabled: true
          postgresql.tup_returned:
            enabled: true
          postgresql.tup_updated:
            enabled: true
        password: otel
        tls:
          insecure: true
        username: root
      redis:
        collection_interval: 10s
        endpoint: valkey-cart.default:6379
        username: valkey
      receiver_creator/logs:
        watch_observers: [ k8s_observer ]
        discovery:
          enabled: true
        receivers:
    service:
      extraExtensions:
        - k8s_observer
      pipelines:
        metrics:
          extraReceivers:
            - postgresql
            - redis
            - nginx
        logs:
          extraReceivers:
            - receiver_creator/logs
